

.artboard {
  width               : 100%;
  min-width           : 1216px;
  height              : 100vh;
  min-height          : 3132px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.artboard .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 713px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : -352px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboard .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 107px;
  height              : 98px;
  width               : 552px;
  position            : absolute;
  margin              : 0;
  left                : 137px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboard .group .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 79px;
  width               : 78px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboard .group .group2 .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 79px;
  width               : 78px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboard .group .group2 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 70px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboard .group .group2 .path1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 69px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboard .group .group2 .path2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 69px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboard .group .sicongzhao {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 457px;
  position            : absolute;
  margin              : 0;
  left                : 100px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
  font-size           : 72.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 3.6px;
  line-height         : 98.0px;
}
.artboard .ovallooper {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2012px;
  height              : 1294px;
  width               : 1101px;
  position            : absolute;
  margin              : 0;
  left                : 513px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.37;
}
.artboard .ovallooper .oval30 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 64px;
  height              : 1166px;
  width               : 743px;
  position            : absolute;
  margin              : 0;
  left                : 179px;
  -ms-transform       : rotate(348deg); /* IE 9 */
  -webkit-transform   : rotate(348deg); /* Chrome, Safari, Opera */
  transform           : rotate(348deg);
  opacity             : 0.12;
}
.artboard .ovallooper .oval29 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 107px;
  height              : 1080px;
  width               : 688px;
  position            : absolute;
  margin              : 0;
  left                : 207px;
  -ms-transform       : rotate(336deg); /* IE 9 */
  -webkit-transform   : rotate(336deg); /* Chrome, Safari, Opera */
  transform           : rotate(336deg);
  opacity             : 0.35;
}
.artboard .ovallooper .oval28 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 147px;
  height              : 1000px;
  width               : 637px;
  position            : absolute;
  margin              : 0;
  left                : 232px;
  -ms-transform       : rotate(324deg); /* IE 9 */
  -webkit-transform   : rotate(324deg); /* Chrome, Safari, Opera */
  transform           : rotate(324deg);
  opacity             : 0.15;
}
.artboard .ovallooper .oval27 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 184px;
  height              : 926px;
  width               : 590px;
  position            : absolute;
  margin              : 0;
  left                : 256px;
  -ms-transform       : rotate(312deg); /* IE 9 */
  -webkit-transform   : rotate(312deg); /* Chrome, Safari, Opera */
  transform           : rotate(312deg);
  opacity             : 0.29;
}
.artboard .ovallooper .oval26 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 218px;
  height              : 858px;
  width               : 546px;
  position            : absolute;
  margin              : 0;
  left                : 278px;
  -ms-transform       : rotate(300deg); /* IE 9 */
  -webkit-transform   : rotate(300deg); /* Chrome, Safari, Opera */
  transform           : rotate(300deg);
  opacity             : 0.46;
}
.artboard .ovallooper .oval25 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 249px;
  height              : 795px;
  width               : 506px;
  position            : absolute;
  margin              : 0;
  left                : 298px;
  -ms-transform       : rotate(288deg); /* IE 9 */
  -webkit-transform   : rotate(288deg); /* Chrome, Safari, Opera */
  transform           : rotate(288deg);
  opacity             : 0.97;
}
.artboard .ovallooper .oval24 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 279px;
  height              : 736px;
  width               : 469px;
  position            : absolute;
  margin              : 0;
  left                : 316px;
  -ms-transform       : rotate(276deg); /* IE 9 */
  -webkit-transform   : rotate(276deg); /* Chrome, Safari, Opera */
  transform           : rotate(276deg);
  opacity             : 0.74;
}
.artboard .ovallooper .oval23 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 306px;
  height              : 682px;
  width               : 434px;
  position            : absolute;
  margin              : 0;
  left                : 334px;
  -ms-transform       : rotate(264deg); /* IE 9 */
  -webkit-transform   : rotate(264deg); /* Chrome, Safari, Opera */
  transform           : rotate(264deg);
  opacity             : 0.95;
}
.artboard .ovallooper .oval22 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 331px;
  height              : 632px;
  width               : 402px;
  position            : absolute;
  margin              : 0;
  left                : 350px;
  -ms-transform       : rotate(252deg); /* IE 9 */
  -webkit-transform   : rotate(252deg); /* Chrome, Safari, Opera */
  transform           : rotate(252deg);
  opacity             : 0.37;
}
.artboard .ovallooper .oval21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 354px;
  height              : 585px;
  width               : 372px;
  position            : absolute;
  margin              : 0;
  left                : 365px;
  -ms-transform       : rotate(240deg); /* IE 9 */
  -webkit-transform   : rotate(240deg); /* Chrome, Safari, Opera */
  transform           : rotate(240deg);
  opacity             : 0.79;
}
.artboard .ovallooper .oval20 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 376px;
  height              : 542px;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 378px;
  -ms-transform       : rotate(228deg); /* IE 9 */
  -webkit-transform   : rotate(228deg); /* Chrome, Safari, Opera */
  transform           : rotate(228deg);
  opacity             : 0.47;
}
.artboard .ovallooper .oval19 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 396px;
  height              : 502px;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 391px;
  -ms-transform       : rotate(216deg); /* IE 9 */
  -webkit-transform   : rotate(216deg); /* Chrome, Safari, Opera */
  transform           : rotate(216deg);
  opacity             : 0.45;
}
.artboard .ovallooper .oval18 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 414px;
  height              : 465px;
  width               : 296px;
  position            : absolute;
  margin              : 0;
  left                : 403px;
  -ms-transform       : rotate(204deg); /* IE 9 */
  -webkit-transform   : rotate(204deg); /* Chrome, Safari, Opera */
  transform           : rotate(204deg);
  opacity             : 0.69;
}
.artboard .ovallooper .oval17 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 431px;
  height              : 431px;
  width               : 274px;
  position            : absolute;
  margin              : 0;
  left                : 414px;
  -ms-transform       : rotate(192deg); /* IE 9 */
  -webkit-transform   : rotate(192deg); /* Chrome, Safari, Opera */
  transform           : rotate(192deg);
  opacity             : 0.68;
}
.artboard .ovallooper .oval16 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 447px;
  height              : 399px;
  width               : 254px;
  position            : absolute;
  margin              : 0;
  left                : 424px;
  -ms-transform       : rotate(180deg); /* IE 9 */
  -webkit-transform   : rotate(180deg); /* Chrome, Safari, Opera */
  transform           : rotate(180deg);
  opacity             : 0.26;
}
.artboard .ovallooper .oval15 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 462px;
  height              : 370px;
  width               : 235px;
  position            : absolute;
  margin              : 0;
  left                : 433px;
  -ms-transform       : rotate(168deg); /* IE 9 */
  -webkit-transform   : rotate(168deg); /* Chrome, Safari, Opera */
  transform           : rotate(168deg);
  opacity             : 0.82;
}
.artboard .ovallooper .oval14 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 475px;
  height              : 343px;
  width               : 218px;
  position            : absolute;
  margin              : 0;
  left                : 442px;
  -ms-transform       : rotate(156deg); /* IE 9 */
  -webkit-transform   : rotate(156deg); /* Chrome, Safari, Opera */
  transform           : rotate(156deg);
  opacity             : 0.1;
}
.artboard .ovallooper .oval13 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 488px;
  height              : 318px;
  width               : 202px;
  position            : absolute;
  margin              : 0;
  left                : 450px;
  -ms-transform       : rotate(144deg); /* IE 9 */
  -webkit-transform   : rotate(144deg); /* Chrome, Safari, Opera */
  transform           : rotate(144deg);
  opacity             : 0.36;
}
.artboard .ovallooper .oval12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 499px;
  height              : 295px;
  width               : 187px;
  position            : absolute;
  margin              : 0;
  left                : 457px;
  -ms-transform       : rotate(132deg); /* IE 9 */
  -webkit-transform   : rotate(132deg); /* Chrome, Safari, Opera */
  transform           : rotate(132deg);
  opacity             : 0.65;
}
.artboard .ovallooper .oval11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 510px;
  height              : 273px;
  width               : 173px;
  position            : absolute;
  margin              : 0;
  left                : 464px;
  -ms-transform       : rotate(120deg); /* IE 9 */
  -webkit-transform   : rotate(120deg); /* Chrome, Safari, Opera */
  transform           : rotate(120deg);
  opacity             : 0.81;
}
.artboard .ovallooper .oval10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 520px;
  height              : 253px;
  width               : 160px;
  position            : absolute;
  margin              : 0;
  left                : 471px;
  -ms-transform       : rotate(108deg); /* IE 9 */
  -webkit-transform   : rotate(108deg); /* Chrome, Safari, Opera */
  transform           : rotate(108deg);
  opacity             : 0.25;
}
.artboard .ovallooper .oval9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 530px;
  height              : 234px;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 477px;
  -ms-transform       : rotate(96deg); /* IE 9 */
  -webkit-transform   : rotate(96deg); /* Chrome, Safari, Opera */
  transform           : rotate(96deg);
  opacity             : 0.51;
}
.artboard .ovallooper .oval8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 538px;
  height              : 217px;
  width               : 137px;
  position            : absolute;
  margin              : 0;
  left                : 482px;
  -ms-transform       : rotate(84deg); /* IE 9 */
  -webkit-transform   : rotate(84deg); /* Chrome, Safari, Opera */
  transform           : rotate(84deg);
  opacity             : 0.58;
}
.artboard .ovallooper .oval7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 546px;
  height              : 201px;
  width               : 127px;
  position            : absolute;
  margin              : 0;
  left                : 487px;
  -ms-transform       : rotate(72deg); /* IE 9 */
  -webkit-transform   : rotate(72deg); /* Chrome, Safari, Opera */
  transform           : rotate(72deg);
  opacity             : 0.58;
}
.artboard .ovallooper .oval6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 554px;
  height              : 186px;
  width               : 118px;
  position            : absolute;
  margin              : 0;
  left                : 492px;
  -ms-transform       : rotate(60deg); /* IE 9 */
  -webkit-transform   : rotate(60deg); /* Chrome, Safari, Opera */
  transform           : rotate(60deg);
  opacity             : 0.55;
}
.artboard .ovallooper .oval5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 561px;
  height              : 172px;
  width               : 109px;
  position            : absolute;
  margin              : 0;
  left                : 496px;
  -ms-transform       : rotate(48deg); /* IE 9 */
  -webkit-transform   : rotate(48deg); /* Chrome, Safari, Opera */
  transform           : rotate(48deg);
  opacity             : 0.64;
}
.artboard .ovallooper .oval4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 567px;
  height              : 159px;
  width               : 101px;
  position            : absolute;
  margin              : 0;
  left                : 500px;
  -ms-transform       : rotate(36deg); /* IE 9 */
  -webkit-transform   : rotate(36deg); /* Chrome, Safari, Opera */
  transform           : rotate(36deg);
  opacity             : 0.39;
}
.artboard .ovallooper .oval3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 573px;
  height              : 147px;
  width               : 94px;
  position            : absolute;
  margin              : 0;
  left                : 504px;
  -ms-transform       : rotate(24deg); /* IE 9 */
  -webkit-transform   : rotate(24deg); /* Chrome, Safari, Opera */
  transform           : rotate(24deg);
  opacity             : 0.3;
}
.artboard .ovallooper .oval2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 579px;
  height              : 136px;
  width               : 87px;
  position            : absolute;
  margin              : 0;
  left                : 507px;
  -ms-transform       : rotate(12deg); /* IE 9 */
  -webkit-transform   : rotate(12deg); /* Chrome, Safari, Opera */
  transform           : rotate(12deg);
  opacity             : 0.73;
}
.artboard .ovallooper .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 584px;
  height              : 126px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 511px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.27;
}
.artboard .sicongiscurrently {
  background-color    : rgba(255,255,255,0.0);
  top                 : 231px;
  height              : auto;
  width               : 760px;
  position            : absolute;
  margin              : 0;
  left                : 139px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 36.0px;
}
.artboard .resume {
  background-color    : rgba(255,255,255,0.0);
  top                 : 48px;
  height              : auto;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 992px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNextCondensed-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.0px;
  line-height         : 27.0px;
}
.artboard .contact {
  background-color    : rgba(255,255,255,0.0);
  top                 : 48px;
  height              : auto;
  width               : 67px;
  position            : absolute;
  margin              : 0;
  left                : 1092px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNextCondensed-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.0px;
  line-height         : 27.0px;
}
.artboard .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 584px;
  height              : 54px;
  width               : 674px;
  position            : absolute;
  margin              : 0;
  left                : 139px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboard .group5 .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 54px;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboard .group5 .group4 .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 54px;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 27px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboard .group5 .group4 .talkwithme {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : auto;
  width               : 107px;
  position            : absolute;
  margin              : 0;
  left                : 99px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 27.0px;
}
.artboard .group5 .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 54px;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 370px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboard .group5 .group3 .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 54px;
  width               : 304px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 27px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboard .group5 .group3 .downloadpdfportfol {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : auto;
  width               : 203px;
  position            : absolute;
  margin              : 0;
  left                : 52px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(70, 113, 251, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 27.0px;
}
.artboard .project1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 773px;
  height              : auto;
  width               : 151px;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(173, 173, 173, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 27.0px;
}
.artboard .predictingemotional {
  background-color    : rgba(255,255,255,0.0);
  top                 : 810px;
  height              : auto;
  width               : 452px;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNextCondensed-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 27.0px;
}
.artboard .overviewthisprojec {
  background-color    : rgba(255,255,255,0.0);
  top                 : 885px;
  height              : auto;
  width               : 401px;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNextCondensed-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 20.0px;
}
.artboard .overviewthisprojec .span1 {
  
}
.artboard .overviewthisprojec .span2 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
}
.artboard .overviewthisprojec .span3 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
  color               : rgba(70, 113, 251, 1.0);
}
.artboard .overviewthisprojec .span4 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
}
.artboard .overviewthisprojec .span5 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
  color               : rgba(70, 113, 251, 1.0);
}
.artboard .overviewthisprojec .span6 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
}
.artboard .overviewthisprojec .span7 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
  color               : rgba(70, 113, 251, 1.0);
}
.artboard .overviewthisprojec .span8 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
}
.artboard .overviewthisprojec .span9 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
  color               : rgba(70, 113, 251, 1.0);
}
.artboard .overviewthisprojec .span10 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
}
.artboard .overviewthisprojec .span11 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
  color               : rgba(70, 113, 251, 1.0);
}
.artboard .overviewthisprojec .span12 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
}
.artboard .overviewthisprojec .span13 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
}
.artboard .overviewthisprojec .span14 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
}
.artboard .mycontributionso {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1037px;
  height              : auto;
  width               : 401px;
  position            : absolute;
  margin              : 0;
  left                : 697px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNextCondensed-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 20.0px;
}
.artboard .mycontributionso .span1 {
  
}
.artboard .mycontributionso .span2 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
}
.artboard .mycontributionso .span3 {
  
}
.artboard .mycontributionso .span4 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
}
.artboard .mycontributionso .span5 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
  text-decoration     : underline;
}
.artboard .mycontributionso .span6 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
}
.artboard .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1618px;
  height              : 734px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : -352px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboard .overviewtheendgoa {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1777px;
  height              : auto;
  width               : 401px;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNextCondensed-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 24.0px;
}
.artboard .overviewtheendgoa .span1 {
  
}
.artboard .overviewtheendgoa .span2 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
}
.artboard .overviewtheendgoa .span3 {
  
}
.artboard .overviewtheendgoa .span4 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
}
.artboard .overviewtheendgoa .span5 {
  
}
.artboard .overviewtheendgoa .span6 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
}
.artboard .nextsteps1usecat {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1789px;
  height              : auto;
  width               : 401px;
  position            : absolute;
  margin              : 0;
  left                : 698px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNextCondensed-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 24.0px;
}
.artboard .nextsteps1usecat .span1 {
  
}
.artboard .nextsteps1usecat .span2 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
}
.artboard .cardiologydecompens {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1715px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNextCondensed-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 27.0px;
}
.artboard .project2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1678px;
  height              : auto;
  width               : 151px;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.63;
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 27.0px;
}
.artboard .group7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 822px;
  height              : 173px;
  width               : 556px;
  position            : absolute;
  margin              : 0;
  left                : 660px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboard .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 859px;
  height              : 100px;
  width               : 77px;
  position            : absolute;
  margin              : 0;
  left                : 859px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboard .ovallooper1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1251px;
  height              : 173px;
  width               : 556px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.63;
}
.artboard .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1271px;
  height              : 130px;
  width               : 168px;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboard .group6 .teammates {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNextCondensed-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.7px;
  line-height         : 19.0px;
}
.artboard .group6 .mikellagreen {
  background-color    : rgba(255,255,255,0.0);
  top                 : 52px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 62px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.7px;
  line-height         : 19.0px;
}
.artboard .group6 .joaquinmenendez {
  background-color    : rgba(255,255,255,0.0);
  top                 : 101px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 62px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.7px;
  line-height         : 19.0px;
}
.artboard .group6 .bitmap2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 45px;
  height              : 36px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboard .group6 .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 94px;
  height              : 36px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboard .nextsteps1tryst {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1450px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNextCondensed-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 20.0px;
}
.artboard .nextsteps1tryst .span1 {
  
}
.artboard .nextsteps1tryst .span2 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
}
.artboard .nextsteps1tryst .span3 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
}
.artboard .project3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2412px;
  height              : auto;
  width               : 151px;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(173, 173, 173, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 27.0px;
}
.artboard .valueinvestinginp {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2449px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNextCondensed-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 27.0px;
}
.artboard .overviewthisisat {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2512px;
  height              : auto;
  width               : 401px;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNextCondensed-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 24.0px;
}
.artboard .overviewthisisat .span1 {
  
}
.artboard .overviewthisisat .span2 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
}
.artboard .overviewthisisat .span3 {
  
}
.artboard .overviewthisisat .span4 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
}
.artboard .overviewthisisat .span5 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
  text-decoration     : underline;
}
.artboard .label1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2524px;
  height              : auto;
  width               : 401px;
  position            : absolute;
  margin              : 0;
  left                : 696px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNextCondensed-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 24.0px;
}
.artboard .label1 .span1 {
  
}
.artboard .label1 .span2 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
}
.artboard .label1 .span3 {
  
}
.artboard .label1 .span4 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
}
.artboard .label1 .span5 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
  text-decoration     : underline;
}
.artboard .label1 .span6 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
}
.artboard .label1 .span7 {
  
}
.artboard .label1 .span8 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
}
.artboard .label1 .span9 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
  text-decoration     : underline;
}
.artboard .label1 .span10 {
  font-family         : "AvenirNextCondensed-Regular", Helvetica, Arial, serif;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}